#directories
Raw_data
Preprocessed_Data*
Postprocessed_Database*
Result
ConfusionMatrixPNG/*
#files
Final_Database*
Little_Data*
Optim_result.csv
.vscode
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
